# Dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build output
dist/
dist-cjs/
dist-esm/
build/
.nx/cache
.nx/workspace-data
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Test artifacts
coverage/
playwright-report/
test-results/

# Misc
*.pem
.turbo/
